-
  const listTwitters = [{
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  },
  {
    avatar:'images/nft/avatar-1.png',
    name:'Brooklyn Simmons',
    email:'@brooklynsimmons',
    des:'Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget vitae pulvinar. Placerat sapien, dolor, aenean vivamus in tincidunt et. Mauris dolor vestibulum et lacus a ante orci.',
  }]
<div class="testimonials ">
  <h2 class="testimonials__title custom-container">Testimonials</h2>
  <div class="testimonials__twitter">
    each item in listTwitters 
      +cardTwitter({avatar: item.avatar, name: item.name, email: item.email, des: item.des})
  </div>
</div>