mixin card(item)
  <div class="card">
    <div class="card__image">
      <img class="image" src="!{item.imgUrl}" alt="!{item.imgUrl}" />
    </div>
    
    <h3 class="card__name">!{item.name}</h3>
    <p class="card__des">!{item.des}</p>
  </div>