mixin cardQuestion (item)
  <div class="card-question">
    <div class="card-question__head">
      <p class="card-question__head__question">!{item.question}</p>
      <div class="card-question__head__icon"></div>
    </div>
    <div class="card-question__ask">
      <p>!{item.ask}</p>
    </div>
  </div>