@include font-face('NexaBlack', '../fonts/NexaBlack', 400);
@include font-face('NexaBlackItalic', '../fonts/NexaBlackItalic', 400);
@include font-face('HelveticaNeueLTStd-BdCn', '../fonts/HelveticaNeueLTStd-BdCn_1', 400);
@include font-face('HelveticaNeueLTStd-Roman', '../fonts/HelveticaNeueLTPro-Roman-new', 400);
@include font-face('HelveticaNeueLTStd-Md', '../fonts/HelveticaNeueLTStd-Md', 400);
@include font-face('Rubik', '../fonts/Rubik', 400);
@include font-face('Poppins', '../fonts/Poppins', 400);
@include font-face('Syne', '../fonts/Syne', 400);