<footer>
  <div class="footer custom-container">
    <div class="footer__travelulu">
      <p class="footer__travelulu__title">Travelulu</p>
      <p class="footer__travelulu__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ullamcorper magna, ac laoreet ex. Integer a consequat lectus. Nullam tortor sem</p>
      <p class="footer__travelulu__copy-right">Copyright 2021, All Rights Reserved</p>
    </div>
    <ul class="footer__contact">
      <li>Contact</li>
      <li class="footer__contact__email">travelulu@gmail.com</li>
      <li>22 Street Address,, Suburb Address Main City, PO Box, Country</li>
      <li>08 8888 88888</li>
    </ul>
    <ul class="footer__service">
      <li>Service</li>
      <li>Planning</li>
      <li>Finacing</li>
      <li>Purchasing</li>
      <li>Meeting</li>
      <li>Flying</li>
    </ul>
    <ul class="footer__continents">
      <li>Continents</li>
      <li>North America</li>
      <li>South America</li>
      <li>Asia</li>
      <li>Afica</li>
      <li>Europe</li>
    </ul>
  </div>
</footer>