.container 
  <footer class="footer">
    <div class="footer__title">
      <p>Hire Me For Your Next Amazing Project</p>
    </div>
    <div class="footer__content">
      <div class="offset-xs-2 description">
        <p>Let's make somthing new, different and more meaningful or make thing more visual or conceptual? Just say hello!</p>
        <div class="list-contact">
          <p>+ 123 569 789</p>
          <p>youremail@gmail.com</p>
          <p>28 Green Tower, Street name, New York City, USA</p>
        </div>
      </div>
      <div class="offset-xs-2 contact-form">
        <input type="text" placeholder="Your name" />
        <input type="email" placeholder="Your emai Address" />
        <input type="text" placeholder="Your budget (Optional)" />
        <input type="text" placeholder="Your project description" class="textarea"/>
        <div class="btn btn-send">
          <button>SEND</button>
        </div>
      </div>
    </div>
    <div class="footer__social-media">
      include ../../$components/portfolio/common/listSocialMedia
    </div>
    <div class="footer__copyright">
      <small>© 2020 Ozart Portfolio Template</small>
    </div>
  </footer>
