.container
  <header class="header">
    <div class="header__wrapper">
      <div class="header__wrapper__logo">
        <img src="images/logo96x38.png" alt="logo" class="visible" />
        <img src="images/logo174x69.png" alt="logo" class="hidden"/>
      </div>
      <div class="header__wrapper__search hidden">
        <img src="images/icons/search.svg" alt="logo" />
      </div>
      <div class="header__wrapper__menu">
        <span class="header__wrapper__menu-content hidden">Menu</span>
        <img src="images/icons/menu.svg" alt="menu" />
      </div>
    </div>
  </header>