ul.header__bottom-nav
  li.nav-item: +link('#', 'Events').nav-link
  li.nav-item.nav-visit
    +link('#', 'Visit & Explore').nav-link
    span.nav-item__arrow
    +mega-menu-title(
      {
        "blocks": [
          {
            "title": "ABC",
            "cols": [
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "XZY",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "xyz"
                  },
                  {
                    "linkUrl": "#",
                    "linkTitle": "abcr",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              }
            ]
          },
          {
            "title": "ABC",
            "cols": [
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "XZY",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "xyz"
                  },
                  {
                    "linkUrl": "#",
                    "linkTitle": "abcr",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              }
            ]
          },
          {
            "title": "ABC",
            "cols": [
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "XZY",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "xyz"
                  },
                  {
                    "linkUrl": "#",
                    "linkTitle": "abcr",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              },
              {
                "menu": [
                  {
                    "linkUrl": "#",
                    "linkTitle": "abc",
                    "imagePath": "images/icons/icon-menu.png",
                    "imageAlt": "abc"
                  }
                ]
              }
            ]
          },
        ]
    }
  )
  li.nav-item: +link('#', 'About').nav-link
