/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

// font families
$font-family-default: sans-serif;
$font-opensans: 'Open Sans';
$font-nexablack: 'NexaBlack';
$font-helvetica-bdCn: 'HelveticaNeueLTStd-BdCn';
$font-helvetica-roman: 'HelveticaNeueLTStd-Roman';
$font-helvetica-Md: 'HelveticaNeueLTStd-Md';
$font-rubik: 'Rubik';
$font-poppins: 'Poppins';
$font-syne: 'Syne';

$font-size-rem: 10px;


$font-size-h1: 42px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 1rem;

$font-size-trip-h1: 48px;
$font-size-trip-h2: 32px;
$font-size-trip-h3: 18px;