/* VARIABLES */
// colors
$primary-shade: #A6E300;
$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: #2D2D2D;
$color-black-3: #C5C5C5;
$color-black-4: #333;
$color-black-5: #F2F2F2;
$color-black-6: #4C4C4E;
$color-black-7: #1B1B1B;
$color-blue-1: #00A1F9;
$color-blue-2: #27F0ED;
$color-blue-3: #1332AA;
$color-blue-4: #76F5FF;
$color-blue-5: #25AAE0;
$color-blue-6: #0A00FF;
$color-blue-7: #70D6FF;
$color-blue-9: #2100FF;
$color-blue-10: #2198C9;
$color-blue-11: #2101FF;
$color-blue-12: #11c3f4;
$color-blue-13: #1372D7;
$color-blue-14: #01a3f8;
$color-blue-15: #26eeed;
$color-blue-gradient: #76F5FF;
$color-purple-gradient: #950D92;
$color-orange-1: #FCB217;
$color-orange-2: #F87917;
$color-orange-3: #E29F14;
$color-orange-4: #f87817;
$color-orange-5: #f45a1b;

$color-orange-7: #f4581c;
$color-green-1: #BAFF00;
$color-green-2: #00EA95;
$color-green-3: #95CB00;
$color-green-4: #3E8700;
$color-green-5: #3a800e;
$color-green-6: #c9e1bd;
$color-green-7: #f3faef;
$color-green-8: #325e1c;
$color-green-9: #00BE70;
$color-red-1: #ED1B23;
$color-red-2: #F65D48;
$color-red-3: #E40008;
$color-yellow-1: #E1FF00;
$color-yellow-2: #D8FA00;
$color-yellow-3: #FFE200;
$color-yellow-4: #E5CA00;
$color-yellow-5: #FFFCA8;
$color-yellow-6: #ffdf01;
$color-yellow-7: #fbb20a;
$color-pink-1: #D90069;
$color-grey-1: #F5F5F5;
$color-grey-2: #EDEDED;
$color-grey-3: #E5E5E5;
$color-grey-4: #D3D3D3;
$color-grey-5: #DBDBDB;
$color-grey-6: #DFDFDF;
$color-grey-7: #d8d8d8;
$color-grey-8: #8b8b8b;
$color-grey-9: #C8C8C8;
$color-grey-10: #F3F3F3;
$color-grey-11: #AAAAAA;
$color-grey-12: #DADADA;
$color-grey-13: #979797;
$color-pink-1: #E60278;

$bg-color-dark: #D6D6D6;

$trip-color-1:#5F2EEA;
$trip-color-2: #4E4B66;
$trip-color-3: #D9DBE9;
$trip-color-4: #BCA4FF;
$trip-color-5: #2A00A2;

// =============================
// ========= NFT ===============
// =============================

//breakpoint
$nft-breakpoint-xs: 321.5px;
$nft-breakpoint-md: 835.5px;
$nft-breakpoint-xl: 1441.5px;


/* COLOR */
$nft-color-1: #532C59;
$nft-color-2: #000000;
$nft-color-3: #F8E0FB;
$nft-color-4: #fff;
$nft-color-5: #FCFAFF;
$nft-color-6: #D6BCFA;
