- imageTransparent = "images/transparent.png";

include common/style
include common/link
include common/img
include common/button
include common/tags
include common/select
include common/video
include common/message
include common/breadcrumb

include components/mega-menu-title

//- include components/hero
//- include components/card
//- include components/modal
//- include components/modal-swiper
//- include components/gallery-detail
//- include components/event-gallery
//- include components/events-tab
//- include components/event-card
//- include components/gallery-activities
//- include components/mega-menu
//- include components/gallery-main
//- include components/slide
//- include components/whole-family
//- include components/banner-event-detail
//- include components/calendar/calendar-filter
//- include components/calendar/calendar-detail
//- include components/calendar/calendar-bar
//- include components/calendar/calendar-events-filter
//- include components/detail-block
//- include components/detail-block-main
//- include components/banner-activity-detail
//- include components/collapse
//- include components/faq
//- include components/getting-here
//- include components/search-form
//- include components/become-partners
//- include components/founding-partners
//- include components/shops-list-filter
//- include components/pagination
//- include components/empty-list
//- include components/gallery-grid
//- include components/download
//- include components/faq-tabs
//- include components/modal-buy
//- include components/sportshub-timeline
//- include components/price-range
//- include components/become-partner-webform
//- include components/about-us
//- include components/scroll-top
//- include components/announcements-item
//- include components/publisher-info
//- include components/social-share
//- include components/img-wysiwyg
//- include components/form-submitted-msg
//- include components/available-positions
//- include components/available-job
//- include components/job-info
//- include components/here-to-play/card-news
//- include components/here-to-play/htp-gallery-main
//- include components/here-to-play/htp-slide
//- include components/here-to-play/news-slider
//- include components/here-to-play/htp-search-results
//- include components/here-to-play/htp-newsletter
//- include components/here-to-play/htp-social
//- include components/here-to-play/htp-error
//- include components/here-to-play/htp-search-no-results
//- include components/here-to-play/gallery-detail-htp
