@import "_utils/index";

// components
@import "$components/nft/common";
@import "$components/nft/header";
@import "$components/nft/collections";
@import "$components/nft/card";
@import "$components/nft/head";
@import "$components/nft/card-member";
@import "$components/nft/team";
@import "$components/nft/card-feature";
@import "$components/nft/provide";
@import "$components/nft/testimonials";
@import "$components/nft/button";
@import "$components/nft/card-twitter";
@import "$components/nft/question";
@import "$components/nft/card-question";