<div class="custom-container">
  <div class="contact">
    <div class="contact__title">
      <h1>Need more information to get started?</h1>
    </div>
    <div class="contact__btn">
      +button({text:'contact us'})
    </div>
  </div>
</div>