- 
  const listImages = [{
    imgUrl:"images/trip/slider-1.png",
    alt: "slider 1",
  },
  {
    imgUrl: "images/trip/slider-2.png",
    alt: "slider 2",
  },
  {
    imgUrl: "images/trip/slider-3.png",
    alt: "slider 3",
  }];

<div class="gallery">
  <p class="head custom-container">Gallery</p>
  <div class="gallery__title custom-container"> 
    <h2>Use our assortment of travel plan tools</h2>
    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, Lorem ipsum dolor sit amet, consectetur </p>
  </div>
  <div class="gallery__slider">
    +slider(listImages)
  </div>
</div>