<div class="planning custom-container">
  <p class="head">Todo</p>
  <div class="planning__title"> 
    <h2>Use our assortment of travel plan tools</h2>
    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, Lorem ipsum dolor sit amet, consectetur </p>
  </div>
  <div class="planning__content">
    <div class="content__image">
      <img src="images/trip/AirHelp.png" alt="AirHelp" />
    </div>
    <div class="content__right">
      <div class="item item--flex-start">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
      <div class="item item--flex-end">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
      <div class="item item--flex-start">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
    </div>
    <div class="content__left">
      <div class="item item--flex-end">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
      <div class="item item--flex-start">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
      <div class="item item--flex-end">
        <img src="images/trip/button-with-icon-only.svg" alt="button" />
        <h3>Lorem ipsum dolor sit amet, consectetur ds.</h3>
      </div>
    </div>
  </div>
</div>