<div class="testimonial ">
  <p class="head custom-container">Testimonial</p>
  <div class="testimonial__title custom-container"> 
    <h2>Use our assortment of travel plan tools</h2>
    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, Lorem ipsum dolor sit amet, consectetur </p>
  </div>
  <div class="testimonial__content">
    +quote({imgUrl:"images/trip/Avatar-face-1.png", name:"Joe Blo", visited:"France", content: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, id faucibus mi.”"})
    +quote({imgUrl:"images/trip/Avatar-face-2.png", name:"Joe Blo", visited:"France", content: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, id faucibus mi.”"})
    +quote({imgUrl:"images/trip/Avatar-face-3.png", name:"Joe Blo", visited:"France", content: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, id faucibus mi.”"})
  </div>
</div>