<div class="todo custom-container">
  <p class="head">Todo</p>
  <div class="todo__title"> 
    <h2>Use our assortment of travel plan tools</h2>
    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar lorem justo, Lorem ipsum dolor sit amet, consectetur </p>
  </div>
  <div class="todo__list-cards">
    +card({title:'Plan Trip Dates', imgUrl:'images/trip/time.png'})
    +card({title:'Pay For Your Flights', imgUrl:'images/trip/plane-and-money.png'})
    +card({title:'Plan Your Finances', imgUrl:'images/trip/Money.png'})
  </div>
</div>