extends _layouts/layout

block append vars
  - title = $translator.home ? $translator.home.title : "Portfolio landing page";

block container
  p(style="margin-bottom: 120px")
  <p><a href="/trip.html">Trip template website</a></p>
  <p><a href="/portfolio.html">Portfolio landing page</a></p>
  <p><a href="/nft.html">NFT e-commerce website</a></p>

