.home-page.container
  .row
    .offset-lg-2
      h1 Lecle VietNam!
      .desc
        p WELCOME,
        br
        p We’re tech experts who explore problems then create the valuable experience and commitment products for clients.

      +link('#', 'Back to homepage').button.button--primary

