<div class="card-image">
  <div class="card-image__content">
    <div class="card-image__reach">
      <div class="card-image__reach-comments">
        <span>25 commemts</span>
      </div>
      <div class="card-image__reach-likes">
        <span>17 Likes</span>
      </div>
      <div class="card-image__reach-author">
        <span>By Adams</span>
      </div>
    </div>
    <div class="card-image__title">
      <p>Design is not just color it speaks visually...</p>
    </div>
    <div class="card-image__read-more">
      <span>Read more</span>
      <span class="arrow-right"></span>
    </div>
  </div>
</div>