<div class="card-content">
  <div class="card-content__title">
    <p>Graphic Design</p>
    <p>User interface design, user experience design, user research.</p>
  </div>
  <div class="card-content__read-more">
    <div>Read more</div>
    <div class="arrow-right"></div>
  </div>
</div>