<ul class="list-social-media"> 
  <li><a class="icon-facebook" href="#" title="#"><img src="images/icons/facebook.svg" alt="facebook.svg"></a>
  </li>
  <li><a class="icon-linkedin" href="#" title="#"><img src="images/icons/linkedin.svg" alt="linkedin.svg"></a>
  </li>
  <li><a class="icon-behance" href="#" title="#"><img src="images/icons/behance.svg" alt="behance.svg"></a>
  </li>
  <li><a class="icon-twitter" href="#" title="#"><img src="images/icons/twitter.svg" alt="twitter.svg"></a>
  </li>
  <li><a class="icon-dribbble" href="#" title="#"><img src="images/icons/dribbble.svg" alt="dribbble.svg"></a>
  </li>
</ul>