<div class="slider">
  <div class="slider__spacing">
  </div>
  <div class="slider__content">
    <span class="selected"></span>
    <span></span>
    <span></span>
  </div>
  <div class="slider__arrow">
  </div>
</div>