mixin heroItem(item)
  <div class="hero-list__item">
    <img class="item__icon" src="!{item.imgUrl}" alt="!{item.imgUrl}" />
    <p class="item__number">!{item.number}</p>
    <p class="item__content">!{item.content}</p>
  </div>