<header>
  <div class="header ">
    <div class="navbar custom-container">
      <div class="menu left">
        <img src="images/nft/menu-nft.svg" alt="menu" />
      </div>
      <div class="logo">
        <picture>
          <source media="(max-width:320px)" srcset="images/nft/Logoxmobile.png">
          <img src="images/nft/Logo.png" alt="Logo" style="width:auto;">
        </picture>
      </div>
      <div class="right">
      </div>
    </div>
    <div class="banner custom-container">
      <h1 class="banner__title">Create & sell <br/> your NFTs today</h1>
      <p class="banner__sub-title">Velit, odio bibendum eu, viverra sit laoreet posuere. Ut scelerisque posuere massa amet. Ornare lacinia vitae at vestibulum morbi. Volutpat libero curabitur feugiat risus dui pulvinar. Elementum.</p>
      +button({content:"Let's sell"})
    </div>
    <div class="list-logo">
      <div class="list-logo__line-1">
        <img src="images/nft/logo-1.png" alt="logo 1" />
        <img src="images/nft/logo-2.png" alt="logo 2" />
        <img src="images/nft/logo-3.png" alt="logo 3" />
      </div>
      <div class="list-logo__line-2">
        <img src="images/nft/logo-4.png" alt="logo 4" />
        <img src="images/nft/logo-5.png" alt="logo 5" />
        <img src="images/nft/logo-6.png" alt="logo 6" />
      </div>
    </div>
  </div>
</header>