<div class="blog">
  <div class="blog__title">
    <h2>My Blog</h2>
  </div>
  <div class="blog__content">
    <div class="blog__content-item">
      <div class="blog__content-item__image">
        <img src="images/portfolio/Blog-1.png" alt="blog 1" />
      </div>
      include ../common/cardImage
    </div>
    <div class="blog__content-item">
      <div class="blog__content-item__image">
        <img src="images/portfolio/Blog-2.png" alt="blog 2" />
      </div>
      include ../common/cardImage
    </div>
    <div class="blog__content-item">
      <div class="blog__content-item__image">
        <img src="images/portfolio/Blog-3.png" alt="blog 3" />
      </div>
      include ../common/cardImage
    </div>
  </div>
  include ../common/slider
</div>