<div class="get-in-touch"> 
  <div class="get-in-touch__title"> 
    <h2>Get in touch </h2>
    <h2>Just Say Hello! </h2>
  </div>
  <div class="get-in-touch__button"> 
    <button>Contact </button>
  </div>
  <div class="get-in-touch__contact contact"> 
    include ../common/listSocialMedia
  </div>
</div>