<div class="introduce"> 
  <div class="offset-xs-2 introduce__content">
    <h1 class="hello">Hello</h1>
    <h1 class="name">
      <span>I'm </span>
      <span>Sarah Jackson </span>
    </h1>
    <p>A UX / UI designer, product designer, content creator and creative director.</p>
    <p>Of course, there's so much more to me than just a few fancy titles. Scroll down and get to know me,</p>
  </div>
  <div class="offset-xs-2 introduce__image"> 
    <picture>
      <source media="(min-width:1153pxpx)" srcset="images/portfolio/Sarah-Jackson.png">
      <source media="(min-width:321px)" srcset="images/portfolio/Sarah-Jackson-tablet.png">
      <img src="images/portfolio/Sarah-Jackson.png" alt="Sarah-Jackson" style="height:100%; object-fit:cover;">
    </picture>
  </div>
  <div class="contact"> 
    include ../common/listSocialMedia
  </div>
</div>