<div class="learn-all"> 
  <div class="learn-all__title"> 
    <h2>Learn all about me in 60 seconds.</h2>
  </div>
  <div class="learn-all__video">
    <iframe width="100%" height="200px" src="https://www.youtube.com/embed/PlTKBKVuUUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>