<div class="portfolio"> 
  <div class="portfolio__title">
    <h2>Portfolio</h2>
  </div>
  <div class="portfolio__menu">
    <ul class=""> 
      <li><a href="#" title="#"><span class="line selected">All</span></a>
      </li>
      <li><a href="#" title="#"><span class="line">UI & UX</span></a>
      </li>
      <li><a href="#" title="#"><span class="line">Graphic Design</span></a>
      </li>
      <li><a href="#" title="#"><span class="line">Web Development</span></a>
      </li>
    </ul>
  </div> 
  <div class="portfolio__list-images"> 
    <div id="item-1" class="item-image"> 
      <img class="portfolio-image" src="images/portfolio/portfolio-image-1.png" alt="portfolio-image-1.png">
    </div>
    <div id="item-2" class="item-image">
      <img class="portfolio-image" src="images/portfolio/portfolio-image-2.png" alt="portfolio-image-2.png">
    </div>
    <div id="item-3" class="item-image">
      <img class="portfolio-image" src="images/portfolio/portfolio-image-3.png" alt="portfolio-image-3.png">
    </div>
    <div id="item-4" class="item-image">
      <img class="portfolio-image" src="images/portfolio/portfolio-image-4.png" alt="portfolio-image-4.png">
    </div>
    <div id="item-5" class="item-image">
      <img class="portfolio-image" src="images/portfolio/portfolio-image-5.png" alt="portfolio-image-5.png">
    </div>
    <div id="item-6" class="item-image">
      <img class="portfolio-image" src="images/portfolio/portfolio-image-6.png" alt="portfolio-image-6.png">
    </div>
  </div>
  include ../common/slider
</div>