<div class="project"> 
  <div class="offset-xs-2 col-block"> 
    <p>750+</p>
    <p>Completed Projects </p>
  </div>
  <div class="offset-xs-2 col-block"> 
    <p>15+</p>
    <p>On going projects</p>
  </div>
  <div class="offset-xs-2 col-block"> 
    <p>250+</p>
    <p>Awards</p>
  </div>
  <div class="offset-xs-2 col-block"> 
    <p>700+</p>
    <p>Happy Clients</p>
  </div>
</div>