<div class="testimonial">
  <div class="testimonial__title">
    <h2>Client Testimonial </h2>
  </div>
  <div class="testimonial__content">
    <div class="offset-xs-2 testimonial__content__image"> 
      <img src="images/portfolio/testimonial.png" alt="testimonial.png">
    </div>
    <div class="offset-xs-2 testimonial__content__description"> 
      <div class="quote">
        <img src="images/icons/quote-open.svg" alt="quote open" class="quote-open" />
        <p class="quote-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete</p>
        <img src="images/icons/quote-close.svg" alt="quote close" class="quote-close" />
      </div>
      <div class="client-name"> 
        <p>Jared Warner </p>
        <p>CEO Of Zeo</p>
      </div>
      include ../common/slider
    </div>
  </div>
</div>