<div class="what-I-do"> 
  <div class="what-I-do__title">
    <h2> What I Do </h2>
  </div>
  <div class="what-I-do__content">
    <div class="offset-xs-2 col-block">
      include ../common/cardContent
    </div>
    <div class="offset-xs-2 col-block">
      include ../common/cardContent
    </div>
    <div class="offset-xs-2 col-block">
      include ../common/cardContent
    </div>
  </div>
  include ../common/slider
</div>